In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Pfizer_1.csv")

In [3]:
data_melt = pd.melt(
    data,
    id_vars = ["Date", "Drug_Name", "Parameter"],
    var_name = "Time",
    value_name = "Reading"
)

In [4]:
data_melt.head()

         Date                Drug_Name    Parameter     Time  Reading
0  15-10-2020  diltiazem hydrochloride  Temperature  1:30:00     23.0
1  15-10-2020  diltiazem hydrochloride     Pressure  1:30:00     12.0
2  15-10-2020      docetaxel injection  Temperature  1:30:00      NaN
3  15-10-2020      docetaxel injection     Pressure  1:30:00      NaN
4  15-10-2020   ketamine hydrochloride  Temperature  1:30:00     24.0

In [5]:
data_tidy = data_melt.pivot(
    index = ["Date", "Time", "Drug_Name"],
    columns = "Parameter",
    values = "Reading"
)

In [8]:
data_tidy.reset_index(inplace = True)

In [9]:
data_tidy

Parameter,Date,Time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [11]:
data_tidy.columns.name = None

In [12]:
data

,index,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [13]:
'''
NaN and None both represent missing data.
NaN -> Not a number
'''

'\nNaN and None both represent missing data.\nNaN -> Not a number\n'

In [14]:
type(None)

NoneType

In [16]:
type(np.nan)

float

In [17]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [19]:
pd.Series(["1", "2", "3", None])

0       1
1       2
2       3
3    None
dtype: object

In [20]:
pd.Series(["1", "2", "3", np.nan])

0      1
1      2
2      3
3    NaN
dtype: object

In [21]:
'''
Treatments for missing values ->
    - Removing the rows / columns that contain even a single missing value
    - Filling missing values with some estimated values
'''

'\nTreatments for missing values ->\n    - Removing the rows / columns that contain even a single missing value\n    - Filling missing values with some estimated values\n'

In [23]:
data.isna()

# Prints a mask where every missing value is marked as True

,index,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
5,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
data.isnull()

,index,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
5,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
pd.isna

In [27]:
pd.isnull

In [29]:
data.isna().sum()

# Number of missing values per column

index        0
Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [32]:
data.isna().sum(axis = 1)

# Number of missing values per row

0     1
1     1
2     4
3     4
4     3
5     3
6     1
7     1
8     1
9     1
10    2
11    2
12    1
13    1
14    0
15    0
16    0
17    0
dtype: int64

In [34]:
data.dropna()

# Every single row containing missing values has been removed

,index,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
14,14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [36]:
data.dropna(axis = 1)

# Every single column containing missing values has been removed

,index,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [37]:
data.fillna(0)

,index,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20
5,5,15-10-2020,ketamine hydrochloride,Pressure,8.0,0.0,0.0,7.0,0.0,9,10.0,11.0,10.0,9,9.0,11
6,6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,0.0,42
7,7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,0.0,27
8,8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,0.0,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,0.0,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,0.0,11.0,12,12.0,11.0,0.0,13,14.0,15
11,11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,0.0,15.0,15,15.0,15.0,0.0,16,17.0,18
12,12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,0.0,13.0,14,11.0,10
13,13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,0.0,9.0,11,13.0,14
14,14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [38]:
a = [18, 20, 15, 20, 18, 22, 19, None, None, 21]

In [39]:
def calc_average(a):
    count_numbers = 0
    sum_numbers = 0
    
    for i in a:
        if type(i) == int:
            count_numbers += 1
            sum_numbers += i
            
    return sum_numbers / count_numbers

In [40]:
calc_average(a)

19.125

In [41]:
def calc_average_2(a):
    count_numbers = 0
    sum_numbers = 0
    
    for i in a:
        count_numbers += 1
        
        if type(i) == int:
            sum_numbers += i
            
    return sum_numbers / count_numbers

In [42]:
calc_average_2(a)

15.3

In [44]:
data["2:30:00"].fillna(0)

0     22.0
1     13.0
2     17.0
3     22.0
4      0.0
5      0.0
6     35.0
7     19.0
8     47.0
9     24.0
10     9.0
11    12.0
12    19.0
13     4.0
14    13.0
15    22.0
16    14.0
17     9.0
Name: 2:30:00, dtype: float64

In [45]:
data["2:30:00"].mean()

18.8125

In [46]:
data["2:30:00"].fillna(data["2:30:00"].mean())

0     22.0000
1     13.0000
2     17.0000
3     22.0000
4     18.8125
5     18.8125
6     35.0000
7     19.0000
8     47.0000
9     24.0000
10     9.0000
11    12.0000
12    19.0000
13     4.0000
14    13.0000
15    22.0000
16    14.0000
17     9.0000
Name: 2:30:00, dtype: float64

In [47]:
data

,index,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [48]:
# data_tidy
# Fill in the missing values for Temp
# with average value of Temp for that given drug

In [49]:
data_tidy

           Date      Time                Drug_Name  Pressure  Temperature
0    15-10-2020  10:30:00  diltiazem hydrochloride      18.0         20.0
1    15-10-2020  10:30:00      docetaxel injection      26.0         23.0
2    15-10-2020  10:30:00   ketamine hydrochloride       9.0         22.0
3    15-10-2020  11:30:00  diltiazem hydrochloride      19.0         20.0
4    15-10-2020  11:30:00      docetaxel injection      29.0         25.0
..          ...       ...                      ...       ...          ...
103  17-10-2020   8:30:00      docetaxel injection      26.0         19.0
104  17-10-2020   8:30:00   ketamine hydrochloride      11.0         20.0
105  17-10-2020   9:30:00  diltiazem hydrochloride       9.0         13.0
106  17-10-2020   9:30:00      docetaxel injection      27.0         20.0
107  17-10-2020   9:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 5 columns]

In [52]:
data_tidy.groupby("Drug_Name")["Temperature"].mean().reset_index()

                 Drug_Name  Temperature
0  diltiazem hydrochloride    24.848485
1      docetaxel injection    30.387097
2   ketamine hydrochloride    17.709677

In [54]:
def temp_mean(x):
    x["Temperature_Avg"] = x["Temperature"].mean()
    
    return x

In [56]:
data_tidy.groupby(["Drug_Name"]).groups

{'diltiazem hydrochloride': [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105], 'docetaxel injection': [1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100, 103, 106], 'ketamine hydrochloride': [2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98, 101, 104, 107]}

In [59]:
data_tidy = data_tidy.groupby(["Drug_Name"], group_keys = False).apply(temp_mean)

In [60]:
data_tidy.head()

,Date,Time,Drug_Name,Pressure,Temperature,Temperature_Avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097

In [61]:
data_tidy["Temperature"].fillna(data_tidy["Temperature_Avg"], inplace = True)

In [63]:
data_tidy["Temperature"].isna().sum()

0

In [64]:
def pressure_mean(x):
    x["Pressure_Avg"] = x["Pressure"].mean()
    
    return x

In [65]:
data_tidy = data_tidy.groupby(["Drug_Name"], group_keys = False).apply(pressure_mean)

In [66]:
data_tidy.head()

,Date,Time,Drug_Name,Pressure,Temperature,Temperature_Avg,Pressure_Avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871

In [67]:
data_tidy["Pressure"].fillna(data_tidy["Pressure_Avg"], inplace = True)

In [68]:
data_tidy["Pressure"].isna().sum()

0

In [69]:
data_tidy.isna().sum()

Date               0
Time               0
Drug_Name          0
Pressure           0
Temperature        0
Temperature_Avg    0
Pressure_Avg       0
dtype: int64

In [70]:
print(data_tidy["Temperature"].min(), data_tidy["Temperature"].max())

8.0 58.0

In [71]:
# Assumption -> Temp ranges between 5 and 65

In [72]:
temp_points = [5, 20, 35, 50, 65]
temp_labels = ["low", "medium", "high", "very high"]

data_tidy["Temperature_Category"] = pd.cut(
    data_tidy["Temperature"],
    bins = temp_points,
    labels = temp_labels
)

In [73]:
data_tidy

,Date,Time,Drug_Name,Pressure,Temperature,Temperature_Avg,Pressure_Avg,Temperature_Category
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium
...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,low
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium

In [74]:
data_tidy["Temperature_Category"].value_counts()

Temperature_Category
low          50
medium       38
high         15
very high     5
Name: count, dtype: int64

In [75]:
# Only the rows which contain hydrochloride in the drug name

In [76]:
data_tidy.loc[data_tidy["Drug_Name"].str.contains("hydrochloride")]

,Date,Time,Drug_Name,Pressure,Temperature,Temperature_Avg,Pressure_Avg,Temperature_Category
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.000000,20.000000,24.848485,15.424242,low
2,15-10-2020,10:30:00,ketamine hydrochloride,9.000000,22.000000,17.709677,11.935484,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.000000,20.000000,24.848485,15.424242,low
5,15-10-2020,11:30:00,ketamine hydrochloride,9.000000,21.000000,17.709677,11.935484,medium
6,15-10-2020,12:30:00,diltiazem hydrochloride,20.000000,21.000000,24.848485,15.424242,medium
...,...,...,...,...,...,...,...,...
101,17-10-2020,7:30:00,ketamine hydrochloride,12.000000,19.000000,17.709677,11.935484,low
102,17-10-2020,8:30:00,diltiazem hydrochloride,15.424242,24.848485,24.848485,15.424242,medium
104,17-10-2020,8:30:00,ketamine hydrochloride,11.000000,20.000000,17.709677,11.935484,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.000000,13.000000,24.848485,15.424242,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.000000,21.000000,17.709677,11.935484,medium

In [77]:
# Series.str.function_name()

In [78]:
data_tidy["Date"]

0      15-10-2020
1      15-10-2020
2      15-10-2020
3      15-10-2020
4      15-10-2020
          ...
103    17-10-2020
104    17-10-2020
105    17-10-2020
106    17-10-2020
107    17-10-2020
Name: Date, Length: 108, dtype: object

In [79]:
data_tidy["Date"].str.split("-")

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [82]:
data_tidy["Date"].str.split("-").apply(lambda x: x[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [83]:
data_tidy

,Date,Time,Drug_Name,Pressure,Temperature,Temperature_Avg,Pressure_Avg,Temperature_Category
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium
...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,low
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium

In [84]:
data_tidy["Timestamp"] = data_tidy["Date"] + " " + data_tidy["Time"]

In [85]:
data_tidy.head()

,Date,Time,Drug_Name,Pressure,Temperature,Temperature_Avg,Pressure_Avg,Temperature_Category,Timestamp
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,15-10-2020 10:30:00
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,15-10-2020 10:30:00
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,15-10-2020 10:30:00
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,15-10-2020 11:30:00
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium,15-10-2020 11:30:00

In [86]:
data_tidy.drop(["Date", "Time"], axis = 1, inplace = True)

In [87]:
data_tidy.head()

,Drug_Name,Pressure,Temperature,Temperature_Avg,Pressure_Avg,Temperature_Category,Timestamp
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,15-10-2020 10:30:00
1,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,15-10-2020 10:30:00
2,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,15-10-2020 10:30:00
3,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,15-10-2020 11:30:00
4,docetaxel injection,29.0,25.0,30.387097,25.483871,medium,15-10-2020 11:30:00

In [88]:
data_tidy["Timestamp"] = pd.to_datetime(data_tidy["Timestamp"])

/var/folders/nn/c52y0d3j0gq59dpsswchkt2r0000gn/T/ipykernel_39508/373863194.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_tidy["Timestamp"] = pd.to_datetime(data_tidy["Timestamp"])

In [89]:
data_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Drug_Name             108 non-null    object
 1   Pressure              108 non-null    float64
 2   Temperature           108 non-null    float64
 3   Temperature_Avg       108 non-null    float64
 4   Pressure_Avg          108 non-null    float64
 5   Temperature_Category  108 non-null    category
 6   Timestamp             108 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(4), object(1)
memory usage: 10.3+ KB

In [92]:
ts = data_tidy["Timestamp"][0]

In [93]:
ts

Timestamp('2020-10-15 10:30:00')

In [94]:
ts.year

2020

In [96]:
ts.day

15

In [97]:
ts.month

10

In [98]:
ts.week

42

In [99]:
ts.hour

10

In [100]:
ts.minute

30

In [101]:
ts.second

0

In [103]:
ts.date()

datetime.date(2020, 10, 15)

In [104]:
ts.month_name()

'October'

In [106]:
ts

Timestamp('2020-10-15 10:30:00')

In [109]:
ts.strftime("%M")

'30'

In [110]:
ts.strftime("%D / %M")

'10/15/20 / 30'

In [114]:
ts.day_name()

'Thursday'

In [115]:
data_tidy.to_csv("Pfizer_Final.csv", sep = ",", index = False)